<div class="flex flex-col items-center mt-5">
  <div>
    <img src="geng.jpeg" alt="Chatbot Icon" class="w-16 h-16 rounded-full mr-3">
    <div class="top-2">
      <h1 class="text-lg font-medium -ml-1">Chatbot</h1>
      <div class="flex items-center gap-1 text-sm">
        <span class="w-2 h-2 bg-green-500 rounded-full"></span>
        <span>Online</span>
      </div>
    </div>
  </div>

  <div class="mt-7">
    <app-sidebar-search></app-sidebar-search>
  </div>
  <div>
    <app-sidebar-history-chat (chatSelected)="onChatSelected($event)"></app-sidebar-history-chat>
  </div>
</div>