<div #messageContainer class="flex-grow overflow-y-auto p-4 space-y-3 max-h-[820px] w-full">
  <div *ngFor="let message of messages" class="flex"
    [ngClass]="{ 'justify-start': message.type === 'bot' || message.type === 'loading', 'justify-end': message.type === 'user' }">
    <div class="px-4 py-2 rounded-lg text-sm max-w-[1176px] break-words overflow-hidden"
      [ngClass]="{ 'bg-blue-400 text-white': message.type === 'bot' || message.type === 'loading', 'bg-gray-200 text-black': message.type === 'user' }">
      {{ message.text }}
    </div>
  </div>
</div>
