<div class="relative flex flex-row h-screen w-screen">
  <div [ngClass]="{'w-80': isSidebarOpen, 'w-0': !isSidebarOpen, 'transition-all duration-1000 ease-in-out': true}"
    class="bg-gray-300 h-full overflow-hidden relative">
    <app-sidebar *ngIf="isSidebarOpen"></app-sidebar>
    <i *ngIf="isSidebarOpen" (click)="toggleSidebar()"
      class="fa-solid fa-arrow-left absolute top-1/2 left-[90%] mr-1 transform -translate-y-1/2 -translate-x-1/2 bg-white p-2 rounded-full text-2xl cursor-pointer shadow-md"></i>
  </div>
  <i *ngIf="!isSidebarOpen" (click)="toggleSidebar()"
    class="fa-solid fa-arrow-right absolute top-1/2 left-[1%] transform -translate-y-1/2 bg-gray-300 p-2 rounded-full text-2xl cursor-pointer shadow-md"></i>
  <div class="flex-grow h-full">
    <app-chat-bot-pages></app-chat-bot-pages>
  </div>
</div>
